{%extends 'base.html'%}

{%block content%}

<script type='text/javascript'>

$(document).ready(function() {

                $("#achievs").tablesorter( {sortList: [[0,0]]} ); 

            });
</script>

<h3 align='center'>Achievements in group '{{grp.name}}' in subcategory '{{sub.name}}' in category '{{cat.name}}':</h3>
<br>

<table id="achievs" class="tablesorter" border="0" cellpadding="0" cellspacing="1" style='margin-left:auto;margin-right:auto'>
    <thead>
        <th class="header">Level</th>
        <th class="header">Alt. name</th>
        <th class="header"># of comments</th>
        <th class="header"># of stories</th>
        <th class="header"># achieved</th>
        <th class="header"># 'to-do'</th>
        <th class="header">Date added</th>
        <th class="header">Added by</th>
        <th class="header">Changes</th>
        <th class="header">Details</th>
    </thead>
    <tbody>
        {%set k=1%}
        {%for ach in achs%}
        {%if k%2==0%}
        <tr class="even" id="ac{{k}}">
        {%else%}
        <tr class="odd" id="ac{{k}}">
        {%endif%}
            <td style='text-align:center;'>{{ach.level}}</td>
            <td style='text-align:center;'>{{ach.altname}}</td>
            <td style='text-align:center;'>{{ach.comments.count()}}</td>
            <td style='text-align:center;'>{{ach.stories.count()}}</td>
            <td style='text-align:center;'>{{ach.users_achieved.count()}}</td>
            <td style='text-align:center;'>{{ach.users_todo.count()}}</td>
            <td style='text-align:center;'>{{ach.added.strftime('%B %d, %Y')}}</td>
            <td style="text-align:center;">{{ach.adder}}</td>
            <td style='text-align:center;'>
                <a href="{{url_for('edit_achievement',grp_id=grp.id,ach_id=ach.id)}}"><button class='btn btn-primary'>Edit</button></a>
                <br>
                {%if ach.level==None or ach.level==grp.achievements.count()%}
                <button class='btn btn-warning' onclick="delete_achie({{ach.id}},{{k}})">Delete</button>
                {%endif%}
                
            </td>
            <td style='text-align:center;'><a href="{{url_for('ach_info',id=ach.id)}}"><button class='btn btn-success'>View</button></a></td>
                            
        </tr>
        {%set k=k+1%}
        {%endfor%}
    </tbody>
</table>

<br>
{%if grp.achievements.count()==1 and grp.achievements.first().level==None%}
{%else%}
<h3 align='center'><a href="{{url_for('edit_achievement',grp_id=grp.id)}}"><button class="btn btn-success">Add New Achievement</button></a></h3>
{%endif%}
<br>
<br>

<h3 align='left'><a href="{{url_for('groups',sub_id=sub.id)}}"><button class="btn btn-success">Back to Groups</button></a></h3>

<script type='text/javascript' src="{{url_for('static',filename='tablesorter/jquery.tablesorter.js')}}"></script>

<script type='text/javascript'>

function delete_achie(id,k){
    var idk='#ac'+k;
    $.post("{{url_for('delete_achie')}}",
        {
            ach_id:id
        }).done(function(data){
            $(idk).remove();
        });

};


</script>
{%endblock%}