{%extends 'base.html'%}
{%block content%}

<h1 style="text-align:center">Add Company's Information:</h1>

<br>
<div class="well">
    <div class="container">
        <div class='row'>
            <div class="col-md-2">
            </div>
            <div class='col-md-8'>
                <form action="" method="post" name="edit" enctype="multipart/form-data">
                    {{form.hidden_tag()}}
                    <table>
                        <tr>
                        	<td class='form-table'>Image: </td>
                        	<td align="right"><input type='file' name='file'></td>
                            <td align="center">Current imgurl: {{comp.imgurl}}</td>
                        </tr>
                        <tr style="height:10px">
                        </tr>
                        <tr>
                        	<td class='form-table'>Company's name: </td>
                        	<td align="right">{{form.company_name()}}</td>
                        	<td>
                        		{%for error in form.company_name.errors%}
				                <span style="color:red;">[{{error}}]</span><br>
				                {%endfor%}
			            	</td>
                        </tr>
                        <tr style="height:10px">
                        </tr>
                        <tr>
                        	<td class='form-table'>Email: </td>
                        	<td align="right">{{form.email()}}</td>
                        	<td>
                        		{%for error in form.email.errors%}
				                <span style="color:red;">[{{error}}]</span><br>
				                {%endfor%}
			            	</td>
                        </tr>
                        <tr style="height:10px">
                        </tr>
                        <tr>
                            <td class='form-table'>Address: </td>
                            <td align="right">{{form.address()}}</td>
                            <td>
                                {%for error in form.address.errors%}
                                <span style="color:red;">[{{error}}]</span><br>
                                {%endfor%}
                            </td>
                        </tr>
                        <tr style="height:10px">
                        </tr>
                        <tr>
                            <td class='form-table'>City: </td>
                            <td align="right">{{form.city()}}</td>
                            <td>
                                {%for error in form.city.errors%}
                                <span style="color:red;">[{{error}}]</span><br>
                                {%endfor%}
                            </td>
                        </tr>
                        <tr style="height:10px">
                        </tr>
                        <tr>
                            <td class='form-table'>Zipcode: </td>
                            <td align="right">{{form.zipcode()}}</td>
                            <td>
                                {%for error in form.zipcode.errors%}
                                <span style="color:red;">[{{error}}]</span><br>
                                {%endfor%}
                            </td>
                        </tr>
                        <tr style="height:10px">
                        </tr>
                        <tr>
                            <td class='form-table'>Telephone number: </td>
                            <td align="right">{{form.tel()}}</td>
                            <td>
                                {%for error in form.tel.errors%}
                                <span style="color:red;">[{{error}}]</span><br>
                                {%endfor%}
                            </td>
                        </tr>
                        <tr style="height:10px">
                        </tr>
                        <tr>
                            <td class='form-table'>Official website: </td>
                            <td align="right">{{form.url()}}</td>
                            <td>
                                {%for error in form.url.errors%}
                                <span style="color:red;">[{{error}}]</span><br>
                                {%endfor%}
                            </td>
                        </tr>
                        <tr style="height:10px">
                        </tr>
                        <tr>
                            <td class='form-table'>Short description: </td>
                            <td align="right">{{form.short_desc(cols=32,rows=4)}}</td>
                            <td>
                                {%for error in form.short_desc.errors%}
                                <span style="color:red;">[{{error}}]</span><br>
                                {%endfor%}
                            </td>
                        </tr>
                        <tr style="height:10px">
                        </tr>
                        <tr>
                            <td class='form-table'>Description: </td>
                            <td align="right">{{form.description(cols=32,rows=4)}}</td>
                            <td>
                                {%for error in form.description.errors%}
                                <span style="color:red;">[{{error}}]</span><br>
                                {%endfor%}
                            </td>
                        </tr>
                        
                        <tr style="height:30px">
                        </tr>
                        <tr>
                            <td colspan="2" align="center"><input class="btn btn-success" type="submit" value="Submit"></td>
                        </tr>
                        
                    </table>
                </form>
            </div>
            <div class="col-md-2">
            	
            </div>
        </div>
    </div>
</div>
<div class='container'>
    {%for message in get_flashed_messages()%}
        <p>{{message}}</p>
    {%endfor%}
</div>
<br>



{%endblock%}