{%extends 'base.html'%}

{%block content%}

<div class='well'>
    <form action="" method="post" name="edit_group" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <table align="center">
            <tr>
                <td class="form-table">Group name: </td>
                <td class="form-table">{{form.group(size=30)}}</td>
                <td>
                    {%for error in form.group.errors%}
                    <span style="color:red;">[{{error}}]</span><br>
                    {%endfor%}
                </td>
            </tr>
            <tr style="height:30px"></tr>
            <tr>
                <td colspan="2" align='center'><input class="btn btn-success" type="submit" value="Save"></td>
            </tr>
        </table>
    </form>
</div>

{%endblock%}