{%extends 'base.html'%}

{%block content%}
<!-- 
<script type='text/javascript'>

$(document).ready(function() {

                $("#list_websites").tablesorter( {sortList: [[0,0]]} ); 

            });
</script>
 -->
<h3 align='center'>Websites</h3>
<br>

<table id="list_webs" class="tablesorter" border="0" cellpadding="0" cellspacing="1" style='margin-left:auto;margin-right:auto'>
                    <thead>
                        <th class="header" style='text-align:center;'>Name</th>
                        <th class="header" style='text-align:center;'>URL</th>
                        <th class="header" style='text-align:center;'>Achievements Linked</th>
                        <th class="header" colspan='2' style='text-align:center;'>Changes</th>
                    </thead>
                    <tbody>
                        {%set k=1%}
                        {%for web in webs%}
                        {%set a=1%}
                        {%if k%2==0%}
                            
                            {%for ach in web.helped%}
                 

                                <tr class="even wb{{k}}">
                                    {%if a==1%}
                               
                                    <td valign='center' style='text-align:center;' rowspan='{{web.helped.count()}}'>{{web.name}}</td>

                                    <td valign='center' style='text-align:center;' rowspan='{{web.helped.count()}}'><a href='{{web.url}}'>{{web.url}}</a></td>

                                    <td valign='center' style='text-align:center;'><a href="{{url_for('ach_info',id=ach.id)}}">{{ach.group.name}}{%if ach.level%}, lv. {{ach.level}}{%endif%}</a></td>

                                    <td valign='center' rowspan='{{web.helped.count()}}' style='text-align:center;'><a href="{{url_for('append_achs_web',id=web.id)}}"><button class='btn btn-primary'>Edit Links</button></a></td>

                                    <td valign='center' rowspan='{{web.helped.count()}}' style='text-align:center;'><button class='btn btn-warning' onclick="remove_web({{web.id}},{{k}})">Delete</button></td>

                                    {%else%}

                                    <td valign='center' style='text-align:center;'><a href="{{url_for('ach_info',id=ach.id)}}">{{ach.group.name}}{%if ach.level%}, lv. {{ach.level}}{%endif%}</a></td>

                                    {%endif%}
                                    
                                </tr>
                                {%set a=2%}
                            
                            {%endfor%}
                        {%else%}
                            
                            {%for ach in web.helped%}
                       
                                <tr class="odd wb{{k}}">
                                    {%if a==1%}
                                
                                    <td valign='center' style='text-align:center;' rowspan='{{web.helped.count()}}'>{{web.name}}</td>

                                    <td valign='center' style='text-align:center;' rowspan='{{web.helped.count()}}'><a href='{{web.url}}'>{{web.url}}</a></td>

                                    <td valign='center' style='text-align:center;'><a href="{{url_for('ach_info',id=ach.id)}}">{{ach.group.name}}{%if ach.level%}, lv. {{ach.level}}{%endif%}</a></td>

                                    <td valign='center' rowspan='{{web.helped.count()}}' style='text-align:center;'><a href="{{url_for('append_achs_web',id=web.id)}}"><button class='btn btn-primary'>Edit Links</button></a></td>

                                    <td valign='center' rowspan='{{web.helped.count()}}' style='text-align:center;'><button class='btn btn-warning' onclick="remove_web({{web.id}},{{k}})">Delete</button></td>

                                    {%else%}

                                    <td valign='center' style='text-align:center;'><a href="{{url_for('ach_info',id=ach.id)}}">{{ach.group.name}}{%if ach.level%}, lv. {{ach.level}}{%endif%}</a></td>

                                    {%endif%}
                                </tr>
                                {%set a=2%}
                            
                            
                            {%endfor%}
                        {%endif%}
                        
                        {%set k=k+1%}
                        {%endfor%}
                    </tbody>
                </table>




<br>
<h3 align='center'><a href="{{url_for('new_website')}}"><button class="btn btn-success">Add New Website</button></a></h3>




<!--                 // <script type='text/javascript' src="{{url_for('static',filename='tablesorter/jquery.tablesorter.js')}}"></script> -->

<script type='text/javascript'>

function remove_web(id,k){
    var idk='.wb'+k;
    $.post("{{url_for('remove_web')}}",
        {
            web_id:id
        }).done(function(data){
            $(idk).each(function(){
                $(this).remove();
            });
        });

};

</script>


{%endblock%}